.tour{
    font-size: 1.5rem;
}
.header-top{
    margin-top: 60px;
}
.ml-auto{
    margin-left: 30px;
}


.nav{
    margin-left: 40px;
    color: whitesmoke;
    font-size: 1.3rem;
    text-decoration: none;
}